/*
    Include padding and border in element's total width so not to confuse %'s
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header{
    background-color: bisque;
    text-shadow: 2px 2ppx whitesmoke;
    text-align: center;
    padding:30px;
    font-size: 150%;
}

.leftcol{
    background-color: aqua;
    float: left;
    width: 25%;
    padding: 20px;
    border-style: groove;
}

.maincontent{    
    background-color: goldenrod;
    width: 50%;
    padding: 20px;
    border-style: groove;
    float: left;
}

.rightcol{
    float: right;
    background-color: plum;
    width: 25%;
    padding: 20px;
    border-style: groove;
}

/* Clear floats after the columns */
.maincontainer:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: yellowgreen;
    text-align: right;
    color: white;
}